<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <title>Painel de Sites</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  <header>
    <h1><a href="/" class="logo">Boogle</a></h1>
    <a href="/">
      <button>Sair</button>
    </a>
  </header>